/* Floating bubble style */
.chatbot-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.chatbot-bubble {
  width: 60px;
  height: 60px;
  background-color: var(--link-hover-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* Full-screen chatbot view */
.chatbot-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 2000;
  display: flex;
  flex-direction: column;
}
.chatbot-header {
 z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--font-family);
}

.chatbot-close {
  background: transparent;
  border: none;
  font-size: 3.5rem;
  color: var(--link-hover-color);
  cursor: pointer;
  padding: 2rem;
}

.chatbot-content {
  flex: 1;
  overflow: auto;
  padding: 0rem;
}

.chatbot-messager {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #f9f9f9;

  input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    color: var(--link-hover-color)
  }

  button {
    padding: 10px 20px;
    border: none;
    background-color: var(--link-hover-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: var(--secondary-color);
    }
  }
}

.chatbot-title {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  color: var(--link-hover-color)
}