@import "globals.scss";

.profile {
  font-family: var(--font-family), sans-serif;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;

  &__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__info {
    p {
      font-size: 1rem;
      margin: 0.5rem 0;
      strong {
        font-weight: bold;
      }
    }
  }
}